@page "/UsuariosRazorPag"
@model UsuarioAspNetCore.Pages.UsuariosRazorPagModel

@{
    ViewData["Title"] = "UsuariosRazorPag";
}

@using UsuarioAspNetCore.Models;
@using UsuarioAspNetCore.Data;

<h2>UsuariosRazorPag</h2>

<h4>Usuarios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuarios.Usuario" class="control-label"></label>
                <input asp-for="Usuarios.Usuario" class="form-control" />
                <span asp-validation-for="Usuarios.Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuarios.Contraseña" class="control-label"></label>
                <input asp-for="Usuarios.Contraseña" class="form-control" />
                <span asp-validation-for="Usuarios.Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
